<app-navbar-vistas></app-navbar-vistas>
<input
  [(ngModel)]="search"
  placeholder="Buscar hoteles"
  type="search"
  class="input"
/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th *ngIf="this.identidad.rol == 'ADMIN'" scope="col">
        Gerente del hotel
      </th>
      <th scope="col">Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hoteles of getModelo | busqueda: search">
      <td>{{ hoteles.nombre }}</td>
      <td>{{ hoteles.direccion }}</td>
      <td *ngIf="this.identidad.rol == 'ADMIN'">{{ hoteles.gerente }}</td>
      <td>
        <a
          *ngIf="this.identidad.rol == 'USUARIO'"
          [routerLink]="['/routerUsuario/verHotel', hoteles._id]"
          ><button class="btn btn-outline-success">
            <i class="fa-solid fa-eye"></i></button
        ></a>
        <a
          *ngIf="this.identidad.rol == 'ADMIN'"
          [routerLink]="['/principal/verHotel', hoteles._id]"
          ><button class="btn btn-outline-success">
            <i class="fa-solid fa-eye"></i></button
        ></a>
      </td>
    </tr>
  </tbody>
</table>

<button
  *ngIf="this.identidad.rol == 'ADMIN'"
  id="ap"
  class="btn btn-primary"
  type="button"
  [routerLink]="['/principal/nuevo']"
>
  Nuevo hotel
</button>
